* {
  text-decoration: none;
}
body {
  background-image: url("../dave-hoefler-AJXKxuRrUcg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.main {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(224, 114, 24, 0.4); */

  margin: 0;
  padding: 2rem;
}

.bigWrap {
  background-image: url("../book-cover.svg");
  background-size: cover;
  border-radius: 0 5px 5px 0;
  padding: 2rem;
  width: 30rem;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  box-shadow: 8px 8px 10px rgb(116, 68, 14);
}

.h1 {
  font-size: 3rem;
  color: #5d3b6e;
  margin: 0;
}
.img:hover {
  transform: rotate(10deg);
}

@media only screen and (max-width: 600px) {
  .bigWrap {
    background-image: url("../bookcover.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 17vh;
    padding-left: 0;
  }
  .img {
    max-width: 17rem;
    margin-left: 10vw;
  }
}
